.alarm-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.alarm-item {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  transition: box-shadow 0.3s;
  margin-bottom: 20px;
}

.alarm-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alarm-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}


.alarm-header {
  display: flex;
}


.status-icon {
  margin-right: 10px;
}


.alarm-state {
  margin: 0;
}

.alarm-timestamp {
  color: #888;
  margin-top: 3px;
  font-size: 14px;
}