.welcome-container {
  max-width: 80%;
  margin-bottom: 10px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-content {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.title-container {
  width: 60%;
  margin-bottom: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-content {
  font-size: 24px;
  margin-bottom: 10px;
}

.status-main {
  /* max-width: 800px; */
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ok-status {
  background-color: #e0f7e0;
}

.danger-status {
  background-color: #f7e0e0;
}

.alert-status {
  background-color: #ffedb5;
}

.status-title {
  font-size: 24px;
}

.ok-icon {
  font-size: 32px;
  color: green;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.danger-icon {
  font-size: 32px;
  color: red;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.alert-icon {
  font-size: 32px;
  color: #ffb902;  
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.status-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.status-item {
  flex: 1;
}

.status-icon {
  margin-left: 1rem;
}


.status-header {
  cursor: pointer;
  text-decoration: underline;
  color: #2276ad;
  ;
}

.status-header:hover {
  color: #2276ad;
  ;
}

.status-history-item {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* padding: 10px; */
  margin-bottom: 10px;
  flex-basis: calc(50% - 10px);
}

.state-value.ok {
  color: green;
}

.state-value.alarm {
  color: red;
}

.rss-container {
  width: 40%;
  margin-bottom: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feed-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.feed-item-details {
  display: flex;
  align-items: center;
}

.feed-item-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.feed-item-description {
  font-size: 12px;
  margin: 5px;
}

.feed-item-link {
  font-size: 14px;
  color: #2276ad;
  text-decoration: underline;
  margin-left: auto;
}

.calendar-icon {
  margin-right: 5px;
  /* Adjust the margin as needed */
  color: #999;
  /* Adjust the color as needed */
}

.greyed-out {
  color: #999;
  /* Adjust the color as needed */
  font-style: italic;
  /* Adjust the font style as needed */
}

.rss-title-container {
  display: flex;
  align-items: center;
}

.title-link {
  margin-left: auto;
  color: #2276ad;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.status-green {
  color: #2ecc71;
  font-weight: bold;
}

.status-yellow {
  color: #f1c40f;
  font-weight: bold;
}

.status-red {
  color: #e74c3c;
  font-weight: bold;
}
/* .ok-icon,
.danger-icon,
.alert-icon {
  font-size: 32px;
  color: green;
  margin-right: 10px;
  transition: transform 0.3s ease;
} */

.ok-icon:hover,
.danger-icon:hover,
.alert-icon:hover {
  transform: scale(1.2);
}
